/* line 1, ../sass/captis.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 2, ../sass/_toolbar.scss */
#toolbar {
  background-color: #262E2C;
  width: 54px;
  height: 100%;
  position: fixed;
  border-right: 1px solid #222928;
  text-align: center;
  z-index: 9999;
  pointer-events: auto;
}

/* line 13, ../sass/_toolbar.scss */
#toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/_toolbar.scss */
#toolbar ul li {
  margin: 10px 0 0 0;
  text-align: center;
}

/* line 24, ../sass/_toolbar.scss */
.captis_icon {
  color: #D5DBD9;
  font-size: 28px;
  margin: 0;
  display: block;
}

/* line 31, ../sass/_toolbar.scss */
.captis_icon:hover {
  color: #13AD87;
  cursor: pointer;
}

/* line 36, ../sass/_toolbar.scss */
#captislink {
  color: #13C493;
  font-size: 28px;
  margin: 20px 0 0 0;
  display: block;
  text-decoration: none;
  padding: 0;
}

/* line 45, ../sass/_toolbar.scss */
#captislink:hover {
  color: #D5DBD9;
  background: none;
}

/* line 50, ../sass/_toolbar.scss */
#record {
  color: #AD2F13;
  font-size: 28px;
  margin: 0;
  display: none;
}

/* line 57, ../sass/_toolbar.scss */
#pauserec {
  display: none;
}

/* line 61, ../sass/_toolbar.scss */
#record:hover {
  color: #13AD87;
  cursor: pointer;
}

/* line 66, ../sass/_toolbar.scss */
#switch {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 15px 20px 15px;
}

/* line 73, ../sass/_toolbar.scss */
#live_stream {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 187px;
  border: 7px solid #262E2C;
  border-radius: 7px;
  z-index: 9999;
}

/* line 84, ../sass/_toolbar.scss */
#polygon {
  position: fixed;
  top: 20px;
  right: 320px;
  border: 7px solid #262E2C;
  border-radius: 7px;
  z-index: 9999;
  opacity: 0;
}

/* line 94, ../sass/_toolbar.scss */
#timer {
  position: fixed;
  top: 25px;
  right: 26px;
  color: #00C483;
  font-size: 14px;
  z-index: 10000;
  background-color: #262E2C;
  padding: 2px;
}

/* line 2, ../sass/_player.scss */
#captis_made {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 187px;
  border: 7px solid #262E2C;
  border-radius: 7px;
  z-index: 9999;
}

/* line 13, ../sass/_player.scss */
#captis_controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 2147483647;
  background-color: #262E2C;
}

/* line 23, ../sass/_player.scss */
#captis_player {
  position: relative;
  width: 100%;
  min-width: 700px;
  margin-left: 20px;
}

/* line 30, ../sass/_player.scss */
#highv, #fulls {
  margin: 10.5px 0 10.5px 20px;
  display: inline;
  float: left;
}

/* line 36, ../sass/_player.scss */
#lowv, #offv, #exitfulls {
  display: none;
  margin: 10.5px 0 10.5px 20px;
  float: left;
}

/* line 42, ../sass/_player.scss */
#pause {
  display: none;
  margin: 10.5px 0 10.5px 0;
  float: left;
}

/* line 48, ../sass/_player.scss */
#lowv, #offv {
  width: 26px;
}

/* line 52, ../sass/_player.scss */
#ptimer {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  float: left;
  color: #D5DBD9;
  margin: 13px 0 13px 20px;
}

/* line 61, ../sass/_player.scss */
#playbar, #volume {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 67, ../sass/_player.scss */
#segments {
  width: calc(100% - 380px);
  position: relative;
}

/* line 72, ../sass/_player.scss */
#play {
  margin: 10.5px 0 10.5px 0;
  display: inline;
  float: left;
  width: 24px;
}

/* line 79, ../sass/_player.scss */
#segments {
  height: 16px;
  margin: 17px 0 17px 21px;
  display: inline;
  float: left;
  border-radius: 8px;
}

/* line 87, ../sass/_player.scss */
#volume {
  height: 16px;
  margin: 17px 0 17px 20px;
  display: inline;
  float: left;
  border-radius: 8px;
}

/* line 95, ../sass/_player.scss */
#pbuffer {
  position: absolute;
  left: 0;
  width: calc(100% - 380px);
  height: 16px;
  -webkit-appearance: none;
  border-radius: 8px;
  margin: 17px 0 17px 44.5px;
  background: rgba(0, 0, 0, 0.1);
}

/* line 105, ../sass/_player.scss */
#pbuffer::-webkit-progress-bar {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
}

/* line 111, ../sass/_player.scss */
#pbuffer::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: #00BAA8;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 118, ../sass/_player.scss */
#volume {
  background: #13AD87;
  width: 100px;
}

/* line 123, ../sass/_player.scss */
#playbar {
  position: absolute;
  left: 0;
  width: calc(100% - 380px);
  height: 16px;
  margin: 17px 0 17px 42px;
  background: rgba(255, 0, 0, 0);
  border-radius: 8px;
}

/* line 133, ../sass/_player.scss */
input[type=range]:focus {
  outline: none;
}

/* line 137, ../sass/_player.scss */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 16px;
  border: none;
  border-radius: 12px;
  background: #D5DBD9;
}

/* line 1, ../sass/_editor.scss */
#edit_video {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 187px;
  border: 7px solid #262E2C;
  border-radius: 7px;
  z-index: 9999;
  display: none;
}

/* line 13, ../sass/_editor.scss */
#loading {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(38, 46, 44, 0.8);
  z-index: 9999;
}

/* line 23, ../sass/_editor.scss */
#loading_segments {
  position: absolute;
  left: calc(50% - 190px);
  top: calc(50% - 10px);
  width: 380px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 10px;
  margin: 17px 0 17px 44.5px;
  background: rgba(255, 255, 255, 0.7);
}

/* line 34, ../sass/_editor.scss */
#loading_segments::-webkit-progress-bar {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

/* line 40, ../sass/_editor.scss */
#loading_segments::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: #00BAA8;
  border-radius: 10px;
  background: #13ad87;
}

/* line 47, ../sass/_editor.scss */
#segment_cont {
  position: fixed;
  width: 0;
  height: calc(100% - 13px);
  border: 7px solid #262E2C;
  left: 54px;
  right: 20px;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;
}

/* line 64, ../sass/_editor.scss */
#captis_editor_segments {
  overflow-y: scroll;
  width: 264px;
  height: 100%;
}

/* line 70, ../sass/_editor.scss */
.segment_box {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: 187px;
  border-bottom: 7px solid #262E2C;
}
/* line 77, ../sass/_editor.scss */
.segment_box:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* line 83, ../sass/_editor.scss */
#segmentshot {
  opacity: 0;
}

/* line 87, ../sass/_editor.scss */
.segment_time {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 36px);
  font-size: 16px;
  font-weight: bold;
  display: inline;
  float: left;
  color: #D5DBD9;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px 0 5px;
}

/* line 10, ../sass/captis.scss */
#metadata {
  display: none;
}
