body{
    padding: 0;
    margin: 0;
}

/*Toolbar*/
#toolbar{
    background-color: #262E2C;
    width: 54px;
    height: 100%;
    position: fixed;
    border-right: 1px solid #000000;
    text-align: center;
    z-index: 9999;
    pointer-events: auto;
}

.captis_icon{
    color: #D5DBD9;
    font-size: 28px;
    margin: 20px 0 0 0;
    display: block;
}

.captis_icon:hover{
    color: #13AD87;
    cursor: pointer;
}

#toolbar a i{
    color: #D5DBD9;
    font-size: 28px;
    margin: 20px 0 0 0;
    display: block;
}

#toolbar a i:hover{
    color: #13AD87;
}

#record{
    color: #AD2F13;
    font-size: 28px;
    margin: 20px 0 0 0;
    display: block;
}

#record:hover{
    color: #13AD87;
    cursor: pointer;
}

#switch{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 15px 20px 15px;
}

#live_stream{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 187px;
    border: 7px solid #262E2C;
    border-radius: 7px;
    z-index: 9999;
}

#polygon{
    position: fixed;
    top: 20px;
    right: 320px;
    border: 7px solid #262E2C;
    border-radius: 7px;
    z-index: 9999;
    opacity: 0;
}

#metadata{
    display: none;
}
